.card {
    margin-bottom: 12px; 
    border-radius: 8px; 
    margin: 0 auto;
    box-sizing: border-box;
}

.card__image {
    height: 413px;
    width: 413px;
    object-fit: cover; 
    display: block;
    margin-bottom: 12px; 
    border-radius: 8px; 
}

.card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__like-btn {
    background-image: url(../images/heart.svg);
    width: 23px;
    height: 20px;
    border: none;
    background-color: transparent;
    opacity: 40%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.card__like-btn:hover {
    opacity: 100%;
}

.card__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 353px;
    margin: 0;
    font-weight: 500; 
    font-size: 16px;
    line-height: 24px;
}

@media screen and (max-width: 627px) {
    .card__image {
        height: 288px; 
        height: auto;
        width: 288px;
    }

    .card__title {
        max-width: 250px; 
        font-size: 16px; 
    }

    .card__like-btn {
        width: 20px;
        height: 18px;
    }

    .profile {
        flex-direction: column;
        max-width: 288px;
        align-items: center;
        text-align: center;
    }
}