.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in, visibility 0.3s;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
}

.modal__container {
  background: #fff;
  border-radius: 8px;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.modal__content-preview {
  position: relative;
  margin: 50px 0 0;
  padding: 0;
  background-color: transparent;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url("../images//close-icon.png");
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.modal__close-btn:hover {
  background-image: url("../images/close-icon-hover.png");
}

.modal__close-preview {
  background-image: url("../images/white-close-icon.png");
  background-color: transparent;
  top: -5px;
  right: -40px;
  opacity: 1;
}

.modal__close-preview:hover {
  background-image: url("../images/white-close-icon-hover.png");
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  opacity: 0.5;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  line-height: 1;
  font-weight: 500;
  font-size: 15px;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

.modal__submit-btn:disabled {
  opacity: 0.5;
}

.modal__input {
  font-family: Poppins;
  padding: 16px 12px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.modal__input::placeholder {
  font-family: Poppins;
  font-weight: 500;
  color: #212121;
  opacity: 0.3;
  font-size: 20px;
  line-height: 20px;
}

.modal__input-error {
  border: 1px solid #ff0000;
  opacity: 0.6;
}

.modal__image {
  width: auto;
  display: block;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
}

.modal__caption {
  padding: 4px 8px;
  color: #fff;
  background-color: black;
  border-radius: 8px;
  display: inline-block;
  white-space: nowrap;
  font-weight: bold;
  line-height: 24px;
  font-size: 20px;
  margin-top: 5px;
}

.modal__error {
  color: #ff0000;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
}

.modal_delete-btns {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.modal__delete-btn, .modal__cancel-btn {
  width: 156px;
  padding: 18px 0;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #FF6565;
  color: #fcf5e5;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.modal__cancel-btn {
  background-color: white;
  border: 1px solid black;
  color: black;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__input {
    font-size: 16px;
    line-height: 16px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__close-preview {
    top: -40px;
    right: 0;
    opacity: 1;
  }

  .modal__caption {
    font-size: 16px;
    display: inline-block;
    white-space: wrap;
  }

  .modal__content-preview {
    width: 96%;
  }

  .modal__image {
    max-width: 100%;
    border-radius: 4px;
  }

  .modal_delete-btns {
    justify-content: center;
  }
}
